@font-face
  font-family: 'Raleway'
  src: url('/assets/fonts/Raleway-Regular.ttf') format('truetype')

@font-face
  font-family: 'Oswald'
  src: url('/assets/fonts/Oswald-Regular.ttf') format('truetype')

$default-background: "/assets/image/main_background.jpg"
$default-font: 'Oswald', sans-serif
$navbar-height: 50px
