@import "./common.sass"

*
  padding: 0
  margin: 0

body
  background: url($default-background) top $navbar-height center no-repeat
  background-size: cover

  #root .container
    top: $navbar-height
    padding-top: $navbar-height + 50px
    min-height: 100vh
    height: 100%
    width: 90%

    & h1, h2, h3, h4, h5, h6
      font-family: $primary-font

    & .site-link
      color: $link-color

    & .content
      font-size: 1.3rem

      & p
        @include p-text( rgba(0,0,0,1), rgba(200, 200, 200, 1))
